<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>


  {{>navbar}}
  <!-- main header -->
  <style>
    body {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .login {
      width: 370px;
      
      left: 36%;
      margin-top: 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
      height: 400px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      background: #fff;
      text-align: center;
      border-radius: 10px;
    }

    h2 {
      margin-bottom: 10%;
       font-size: 28px;
    font-weight: 600;
    color: #333;
    }

    input {
      font-size: 16px;
      height: 40px;
      width: 280px;
      border: 2px solid gray;
      padding: 26px 18px;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    button {
      font-size: 18px;
      font-weight: 400;
      margin: 20px 0;
      padding: 10px 15px;
      width: 50%;
      border-radius: 5px;
      border: 0;
      background: var(--main-bg);
      color: #fff;
    }
  </style>
  
<body>
  <div class="login">
    <h2>Login Here</h2>
    <form>
     
      <div>
        <label for="emailID"></label>
        <input type="email" id="emailID" placeholder="Enter your email">
      </div>
      <div>
        <label for="password" id="password"></label>
        <input type="password" id="password" placeholder="Enter your password">
      </div>
      <button type="submit">Sign in</button>
    </form>
  </div>
  {{!-- footer code --}}


  {{!--
  <script src="js/aq.js"></script> --}}



</body>

</html>