<!DOCTYPE html>
<html>
    <head>
      {{>headerlinks}}
    </head>
    {{>navbar}}
    <style>
        .container {
           display: flex;
           align-items: center;
           justify-content: center;
        }
      .register {
        position: relative;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
        background: #454545;
        border-radius: 5px;
        padding: 1.5rem 1rem;
        margin: 3rem auto;
      }
      h2{
        font-size: 28px;
        font-weight: 600;
        color: #FFFFFF;
        text-align: center;
      }
    .details{
        height: 100%;
        width: 80%;
        margin: auto;
        outline: none;
        border: 0px solid black;
        padding: 0.5rem 1.5rem;
        border-bottom-width: 4px;
        border-radius: 5px;
        font-size: 1rem;
        transition: all 0.3s ease;
        display: block;
      }
      input[type='date'] {
          text-transform: uppercase;
          margin-top: 1rem;
      }
      input:focus{
        border-color:var(--main-bg) ;
      }
       button {
          font-size: 18px;
          font-weight: 400;
          padding: 10px 15px;
          width: 100px;
          margin: 1rem auto;
          height: 100%;
          border-radius: 5px;
          display: block;
          border: 0;
          background: var(--main-bg);
          justify-items: center;
          background-color: #FFFFFF;
          color: #000000;
        }
    </style>
    <body>
      <div class="container">
        <div class="register">
          <h2>Student Registration</h2>
          <form method='POST' action='/student/register'>
            <div>
              <label for="name"></label>
              <input class="details" type="text" placeholder="Full Name" name="name">
            </div>
            <div>
              <label for="emailID"></label>
              <input class="details" type="email" placeholder="Email ID" name="email">
            </div>
            <div>
              <label for="id"></label>
              <input class="details" type="text" placeholder="ID Number" name="id">
            </div>
            <div>
              <label for="gender"></label>
              <select class="details"  name="gender">
                <option>Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
            <div>
              <label for="year"></label>
              <select class="details"  name="currentYear">
                <option>Current Year</option>
                <option>First Year</option>
                <option>Second Year</option>
                <option>Third Year</option>
                <option>Final Year</option>
              </select>
            </div>
            <div>
              <label for="branch"></label>
               <select class="details"  name="branch">
                <option>Branch</option>
                <option>Information Technology</option>
                <option>Computer Science</option>
                <option>Electronics & Telecommunication</option>
                <option>Artificial Intelligence & Data Science</option>
              </select>
            </div>
             <div>
              <label for="semester"></label>
              <select class="details"  name="semester">
                <option>Current Semester</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </div>
             <div>
              <label for="number"></label>
              <input class="details" type="date" placeholder="Date of Birth" name="dateOfBirth">
            </div>
            <div>
                <label for="fingerprint"></label>
                <input class="details" type="hidden" value='http://www.google.com' name="fingerprint">
            </div>
            <p style='color: white; text-align: center'>{{error}}</p>
            <div>
              <button type="submit" >Register</button>
            </div>
          </form>

        </div>
      </div>
    </body>
    </html>
</html>
